<% layout('layouts/boilerplate') %>
<center>
    <div class="contents container thank ">
          
        <h3>Thank you for your interest in adopting a companion animal from STRAW! </h3> <br>
         <p class="my-2"> We are trying to provide expert, compassionate care for animals in need. We look forward to helping you find your next animal companion. 
         
        <br><br> Welcoming an animal into your family is a serious decision and our expert adoption advisors take great care in guiding you through the process and helping you find the right match.
        <br><br>
        You will be contacted soon via registered email!
       </p>

   </div>
</center>