<% layout('layouts/boilerplate') %>
<div class="contents container">
<div class="row d-flex justify-content-center">
	<div class="col-md-8">
		<div class="card">
			<h5 class="card-header" style="background-color: #f7aa30b2; color:white;" >Payment Failed!</h5>

			<div class="card-body">
				<p class="card-text">Please try some other payment method or try again later.</p>

				<a href="/Donate" type="button" class="btn btn-primary bttn">Go Home</a>
			</div>
		</div>
	</div>
</div>
</div>