<% layout('layouts/boilerplate') %>

<div class="heading headDonate">
	<div class="container heado">
	  <center>
	  <h2><span>STRAW/DONATE</span></h2>
	  <h3 class="p-2">
		You can be a hero to an animal in need.
	  </h3>
	</center>
	</div>
 <!--heading end-->    
</div>


<div class="contents container">
	<div class="donatetext">
		<h2>Give today</h2>

	   <p class="px-2">
		Your gift today will make difference for animals in need.
	   </p>
	   
	  </div>
	<div class="all p-4">
		<div class="row d-flex justify-content-center mx-0 my-3 m-xs-3" onclick="location.href='/payment'" style="cursor: pointer;">
			<div class="col-lg-4 capsule d-flex news-content py-2 link  btn">
			   <span m-auto>Donate</span>
				
			</div>
		  </div>
	  </div>
	   <center>
		<h2 class="adopt">Be a part of fund raising event</h2>
	   </center>
	  
	  <div class="bgimg fund">
		<div class="textinside">
		  <h2>Fund raising </h2>
		  <p>Do you enjoy events that are as meaningful as they are fun?
			You can host your own event to benefit the animals. From bake sales to personalized online fundraisers, start planning today. It’s easy!  </p>
		  
		</div>
		
	  </div>
	  <div class="container foot">
		<h5>contact us:</h5>
	  </div>

</div>


























<!--
<div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-4">
		<h3 class="text-center mb-5">Welcome to Animal Welfare</h3>

		
				<p>Until one has loved an animal, a part of one's soul remains unawakened.</p>
		
		<div class="d-grid mt-4">
			<a href="/payment" type="button" class="btn btn-primary">Donate</a>
			<div class="form-text text-center">Please donate something, uparwala tumhara bhala karega.</div>
		</div>
	</div>
</div>-->