<% layout('layouts/boilerplate') %>
<div class="heading headJoin">
    <div class="container heado">
        <center>
        <h2><span>STRAW/JOIN</span></h2>
        <h3 class="p-2">
            Simply put, volunteering your time saves precious lives.
            STRAW volunteers contribute a staggering number of hours toward helping cats, dogs and wild animals in need.
        </h3>
      </center>
      </div>
   <!--heading end-->  
  </div>

  <div class="contents container">
  <center>
<div class="jointext p-2">
  <h2>Thankyou for showing your interest for joining STRAW!</h2>

 <p>
  Volunteers work side by side caring for wildlife and companion animals and helping with education and outreach to the 
  community. We provide the training for all volunteer positions –  no prior experience required. Whether you’re helping 
  find homes for cats and dogs, or contributing to the success of an event, you can play an important role in the life-saving work of STRAWS.
  
 </p>
 
</div>



<div class="all p-4">
  <div class="row d-flex justify-content-center mx-0 my-3 m-xs-3" onclick="location.href='/Join/new';" style="cursor: pointer;">
      <div class="col-lg-4 capsule d-flex news-content py-2 link ">
         <span m-auto>Join us</span>
          
      </div>
    </div>
</div>
<h2 class="adopt">About Volunteering</h2>
<div class="joinus">
  <div class="row g-3">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="bgimg volunteer">
        <div class="textinside">
          <h2>Volunteering</h2>
          <p>Looking to invest in yourself while making a difference for animals? Check out the many volunteer opportunities at STRAW!</p>
          
        </div>
        
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="bgimg temxt">
            <div class="textinside">
                <p>
                    Are you looking to help animals in need, feel inspired, and meet like-minded animal lovers? Find the requirements for volunteering at PAWS and how to get started.
                    From conducting programs to making donor thank you calls from your home, STRAW has volunteer positions for anyone who wants to make a difference. Check out the many opportunities and get involved today!

                </p>
            </div>
        </div>
       
      </div>
    <!--row ends-->
  </div>

  <h2 class="adopt">About Youth Program</h2>
  <div class="joinus">
    <div class="row g-3">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="bgimg youth">
          <div class="textinside">
            <h2>Virtual Youth program</h2>

            <p>
              Learn about pets and wild animals during live virtual workshops for youth ages 7-13. 
              Featuring fun and engaging activities, youth will be inspired to protect animals in our communities and around the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="bgimg temxt">
              <div class="textinside">
                  <p>
                    Be a champion for animals! Join us for live workshops for kids to learn about the cats, dogs and wild animals who call STRAW their temporary home.
                     Complete hands-on projects that make a difference for the animals helped by STRAW and in the community.
                     Youth interested in completing a project on their own or for school/club credit can complete a Youth Service Project.

                  </p>
              </div>
          </div>
         
        </div>
      <!--row ends-->
    </div>


  
</div>
</center>

  </div>
  <div class="container foot">
    <h5>contact us:</h5>
 </div>
